@font-face {
  font-family: "Roboto";
  src: url("lecture5/Roboto-Black.ttf") format("trutype"),
    url("lecture5/roboto-black.woff") format("woff"),
    url("lecture5/roboto-black.woff2") format("woff2");
}

body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  background-color: rgb(118, 241, 250);
  position: relative;
}

header {
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.information {
  margin-bottom: 15px;
}

.container {
  position: absolute;
  padding: 10px 10px 0px 10px;
  right: 40%;
  top: 5%;
  background-color: white;
}

#name,
#lastname {
  margin-bottom: 15px;
  padding: 10px;
  width: 45%;
}

#email,
#password,
#confirm-password {
  margin-bottom: 15px;
  padding: 10px;
  width: 90%;
}

.checkbox {
  display: inline;
  margin-bottom: 15px;
  width: 90%;
}

#submit {
  cursor: pointer;
}

.margin-bewteen {
  margin-bottom: 15px;
}

.sing-up {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: rgba(106, 123, 199, 0.699);
  padding: 5px 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.account {
  font-size: 17px;
  text-align: center;
  position: absolute;
  margin-left: 15%;
}
